html {
    font: 16px/1.5 Verdana, sans-serif;
}

body {
    padding: 1rem 5rem;
}

body > header {
    border-bottom: 1px dashed #999;
    text-align: center;
}

article > header {
    border-bottom: 2px solid #333;
}