@media screen and (max-width: 560px) {
    .wrapper.style1 .content {
        padding: 1rem;
    }

    .wrapper.style2 {
        padding: 0;
    }

    .wrapper > header {
        padding: 0.8rem;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery > * {
        width: 100%;
    }

    .spotlight {
        flex-direction: column;
    }

    .spotlight > * {
        width: 100%;
    }

    .spotlight .inner {
        padding: 1rem;
    }

    .spotlight .inner {
        text-align: center;
    }
}