@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');

html {
    box-sizing: border-box;
    font: 14px/1.5 'Open+Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 25rem;
}

section.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section > article {
    flex: 0 0 33%;
    color: #999;
}

@media screen and (max-width: 1400px) {
    body {
        padding: 3rem;
    }

    body section > article {
        padding-bottom: 3rem;
        flex: 1 0 100%;
    }

    body section.main article img {
        width: 80vw;
        height: auto;
    }
}

section.header > article {
    border-left: 3px solid #999;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

section.header > article > h2 {
    letter-spacing: 5px;
    font-size: 4rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

section.header > article > p {
    font-size: 2rem;
}

section.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.main > article {
    font-size: 1.4rem;
    padding-right: 1rem;
}

section.main article img {
    max-width: 100%;
}