@import url('typography.css');

body {
    padding: 5em;
}

body > header {
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
}

header .site-title {
    max-width: 20vw;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: block;
    padding: 0 0.25rem;
}

header nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #090;
    border-radius: 0.2rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
    outline: none;
    background: #090;
    color: #FFF;
}