body {
    background: rgb(238, 238, 238);
    text-align: center;
    padding: 10rem;
}

ul li {
    display: inline-block;
    list-style: none;
    width: 33%;
    vertical-align: center;
}

ul li img {
    max-width: 60%;
    height: auto;
    border: 0.4rem solid black;
    padding: 0.9rem;
}




