@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    box-sizing: border-box;
    font: 16px/1.5 'Open+Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



header {
    padding: 3rem 0;
    background-color: #FFF;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-right: 4rem;
}

header nav ul li a {
    text-decoration: none;
    color: #F05F40;
}

main {
    width: 100%;
}

main section:nth-child(1) {
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    padding: 6rem;
    text-align: center;
}

main section:nth-child(1) h2 {
    font-size: 2.4rem;
}

main section:nth-child(3) h3:after,
main section:nth-child(1) h2:after {
    display: block;
    content: '';
    width: 6rem;
    border: 2px solid #F05F40;
    margin: 2% auto;
}

main section:nth-child(2) {
    background-color: #F05F40;
    color: white;
    text-align: center;
    padding: 5rem;
}

main section:nth-child(2) h3 {
    font-size: 2rem;
}

main section:nth-child(2) h3:after {
    display: block;
    content: '';
    width: 6rem;
    border: 2px solid #FFF;
    margin: 2% auto;
}

main section:nth-child(2) p {
    width: 40%;
    margin: 2% auto;
}

main section:nth-child(2) input[type="submit"] {
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
}

main section:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem;
}

main section:nth-child(3) h3 {
    display: block;
    flex: 1 0 auto;
    text-align: center;
    font-size: 2rem;
}

main section:nth-child(3) .container {
    flex: 1 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main section:nth-child(3) .container article {
    flex: 0 0 15%;
    margin: 0 1rem;
}

main section:nth-child(3) .container article .far {
    color: #F05F40;
    font-size: 4rem;
    margin: 1rem auto;
}

main section:nth-child(3) .container article h4 {
    font-size: 1.4rem;
    margin: 1rem auto;
}

main section:nth-child(3) .container article p {
    color: grey;
    margin: 1rem auto;
}

main section:nth-child(4) {
    display: flex;
    border-bottom: 2px solid #F05F40;
    border-top: 3px solid #F05F40;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main section:nth-child(4) article {
    flex: 0 0 20%;
    border: 3px solid #F05F40;
    margin: 0 3rem;
    height: 325px;
}

main section:nth-child(4) article img {
    width: 100%;
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.2rem;

}

footer > p > span {
    color: #F05F40;
}