html {
    font: 16px/1.5 Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    font-size: 1em;
}

h1 { font-size: 2.2rem }
h2 { font-size: 2rem }
h3 { font-size: 1.8rem }
h4 { font-size: 1.6rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.2rem }

body {
    padding: 3rem;
}

article {
    background: rgb(51, 102, 153);
    border: 1px solid rgb(51, 102, 153);
    border-radius: 1.5rem;
    color: #FFFFFF;
    padding: 1.5rem;
}