@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.google.com/specimen/Open+Sans');

html {
    box-sizing: border-box;
    font: 16px/1.5 'Open+Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #FAEBC8;
}

main {
    width: 60%;
    background: #FFF;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 12px 8px rgb(194 153 132);
}

main section {
    flex: 0 0 30%;
    padding: 3rem;
}

section > img {
    width: 35%;
    display: block;
    margin: 0 auto;
}

section > h2 {
    text-align: center;
    margin-top: 2rem;
}

section > p {
    margin: 1rem 0;
}

body > main > section > p:nth-child(3) {
    height: 12rem;
}

section > p:last-child {
    color: #995F55;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 26px 26px 4px rgb(150 150 150);
    margin-top: 2rem;
}

