@import url('reset.css');
@import url('typography.css');

body {
    background: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

header, main, aside, footer {
    padding: 2rem;
    background: #FFF;
    border-radius: 0.4rem;
    color: #000;
    margin: 1rem;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

header, footer {
    flex-basis: 100%;
}

header {
    min-height: 10vh;
}

main {
    flex: 8 1 40rem;
    min-height: 30vh;
}

aside {
    flex: 2 1 20rem;
}

