@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('reset.css');
@import url('typography.css');

body {
    background: #FFF;
    padding: 2rem;
}

/*form*/

form {

}

fieldset, legend {
    border: 1px solid black;
    background: #EEE;
}

fieldset {
    position: relative;
    padding: 2rem;
}

fieldset legend {
    display: block;
    position: absolute;
    border-radius: 0.2rem;
    padding: 0.3rem 1.2rem;
    top: -1.1rem; left: 1rem;
}

form label {
    display: block;
}

.input {
    display: flex;
    position: relative;
    align-items: center;
}

.input input {
    order: 1;
    border: none;
    padding: 0.3rem 0.6rem;
    position: relative;
    z-index: 3;
    background: none;
    outline: none;
    flex: 1 0 auto;
}

.input i {
    order: 0;
    position: relative;
    z-index: 2;
    line-height: 1;
    padding: 0.2rem 0.5rem 0.2rem 0.7rem;
    font-size: 0.8rem;
}

.input .actions {
    background: #FFF;
    border: 1px solid #000;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    border-radius: 0.3rem;
}

.input input:focus + .actions {
    border-color: #090;
}

.input input:focus + .actions + i.fas {
    color: #090;
}