@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
html {
    box-sizing: border-box;
    font: 16px/1.5 'Poppins', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #A0695C , #F1DEBD);
}

main {
    width: 60%;
    margin: 5% auto;
    background: #FFF;
    padding: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

main section {
    width: 45%;
}

main section form {
    width: 80%;
}

main section h2 {
    margin-left: 5rem;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

/*form*/

.input {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
}

.input input {
    order: 1;
    border: none;
    padding: 0.3rem 0.6rem;
    position: relative;
    z-index: 3;
    background: none;
    outline: none;
    flex: 1 0 auto;
}

.input .fas {
    order: 0;
    position: relative;
    z-index: 2;
    line-height: 1;
    padding: 0.2rem 0.5rem 0.2rem 0.7rem;
    font-size: 1rem;
}

.input .actions {
    background: lightgrey;
    border: none;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 1.8rem;
    z-index: 1;
}

.input input:focus + .actions + .fas {
    color: #A0695C;
}

/*Form*/

/*Checkbox*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFF;
    border-radius: 50%;
    border: 5px solid lightgray;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: lightgray;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: lightgray;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 4px;
    left: 4px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #FFF;
}

label {
    margin-left: 1rem;
}

section:nth-child(2) > form > div > p {
    font-size: 1.6rem;
    margin: 2.5rem 0 1rem 0;
}

input[type="submit"] {
    width: 100%;
    padding: 1rem;
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    background: #8E6B52;
    margin-bottom: 1.5rem;
}

input[type="submit"]:hover {
    background: #614B3A;
    cursor: pointer;
}

.forgot-pass {
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.create-acount {
    margin-left: 8rem;
}

.create-acount i {
    color: grey;
    margin-left: 1rem;
}

.create-acount a {
    color: grey;
}
