body {
    padding: 5rem;
    background: #EEE;
}

header a {
    text-decoration: none;
}

.site {
    max-width: 60rem;
    margin: 0 auto;
}

.site > header {
    border-bottom: 0.2rem solid black;
    /*vertical-align: center;*/
}

.site-title {
    display: inline-block;
    padding-right: 3vw;
    font-weight: bold;
}

.site-title a {
    font-size: 4rem;
    color: #000;
}

header nav {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    padding: 0 0.2rem;
}

header nav ul li a {
    display: block;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    color: #090;
    outline: none;
}

header nav li a:hover,
header nav li a:focus {
    background: #090;
    color: #FFF;
}

header nav li a:active {
    background: #000;
}