@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    box-sizing: border-box;
    font: 16px/1.5 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgba(132, 106, 221, 0.7), rgba(132, 106, 221, 0.7)), url(images/bg-01.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 10% 0;
}

main {
    background: #FFF;
    width: 50%;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

main > section {
    flex: 0 0 50%;
}

main section h3 {
    font-weight: bold;
    font-size: 1.8rem;
}

main section .input {
    display: flex;
    position: relative;
    align-items: center;
    background: #CCC;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1.5rem;
}

main section .input input {
    order: 1;
    border: none;
    padding: 0.3rem 0.6rem;
    background: none;
    flex: 1 0 auto;
    outline: none;
    z-index: 3;
}

input:focus + span.actions +.fas {
    color: #846ADD;
}

main section textarea {
    width: 100%;
    height: 10rem;
    background: #CCC;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    padding: 1rem;
}

main section input[type="submit"] {
    width: 100%;
    height: 3rem;
    color: white;
    background: #846ADD;
    border-radius: 1.5rem;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 1rem 0;
}

main section input[type="submit"]:hover {
    background: #000;
}



