@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 13rem;
    height: auto;
}

div.viewport:first-of-type {
    background-image: linear-gradient(to right, #185B9D , #2D919F, #43CDA2);
    height: 50vh;
}

div.viewport:first-of-type section.card {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-25%, -50%);
}

div.viewport:last-of-type {
    background-image: linear-gradient(to right, #A83378 , #BB5848, #D28114);
    height: 50vh;
}

div.viewport:last-of-type section.card {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-25%, -50%);
}

div.viewport section.card i {
    font-size: 1.4rem;
    font-weight: bold;
    color: #FFF;
}

div.viewport:first-of-type section.card i {
    position: absolute;
    top: 75%;
    left: 85%;
}

div.viewport:last-of-type section.card i {
    position: absolute;
    top: 85%;
    left: 85%;
}