@import url('typography.css');

body {
    background: #EEE;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 25rem;
    background: #FFF;
    border-radius: 0.4rem;
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.card .content {
    padding: 1rem;
}

.card .content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    padding: 0;
}