@import url('typography.css');
@import url('layout.css');

body {
    padding: 2em;
    background: #EEE;
}

.page {
    max-width: 75rem;
    margin: 0 auto;
}

.page > header {
    border-bottom: 2px solid #000;
}

header {
    display: flex;
    align-items: center;
}

header .site-title {
    padding: 0.5rem 0.5rem;
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
    box-shadow: 0 0 5rem 0.1rem rgba(0, 0, 0, 0.25);
}

aside a {
    text-decoration: none;
    color: #090;
}

aside ul li {
    list-style: none;
}