.page {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.page > header {
    width: 100%;
}

.page > main {
    width: 70%;
}

.page article {
    margin-right: 2rem;
}

aside section {
    margin-left: 4rem;
}