@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
    box-sizing: border-box;
    font: 16px/1.5 'PT+Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

header nav {
    background: #FAFAFA;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

header nav .menu {
    display: flex;
    flex: 0 0 45%;
    list-style: none;
    margin-left: 10rem;
}

header nav li {
    display: block;
    margin-right: 1rem;

}

header nav .menu li i {
    padding-left: 0.3rem;
}

header nav .log-in {
    display: flex;
    flex: 0 0 45%;
    list-style: none;
}

header nav .log-in li {
    border-right: 1px solid grey;
    padding-right: 1rem;
}

header nav a {
    text-decoration: none;
    color: grey;
}

header nav a:hover {
    color: #FF5D3D;
}

header .slider {
    flex: 1 0 100%;
    color: #FFF;
    background-image: url('img/residential-banner-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 27rem;
}

header .slider img {
    width: 100%;
    height: auto;
}

header .slider h2 {
    font-weight: 300;
    font-size: 3.5em;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    /*padding-left: 3.5rem;*/
}

header .slider p {
    margin: 1rem 0;
    font-size: 1.5em;
    /*padding-left: 3.5rem;*/
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding-left: 3.5rem;*/
}

main section.how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main section.how-it-works article {
    flex: 0 0 20%;
    padding: 3rem;
}

main section.how-it-works article h3:nth-child(1) {
    position: relative;
}

main section.how-it-works article h3:nth-child(1):before {
    display: block;
    content: '';
    position: absolute;
    top: 40px; left: 100px;
    width: 3rem;
    border: 1px solid grey;
}

main section.how-it-works article h3:nth-child(1):after {
    display: block;
    content: '';
    position: absolute;
    top: 40px; right: 100px;
    width: 3rem;
    border: 1px solid grey;
}

main > h3 {
    padding: 1rem;
    font-size: 2.5em;
}

main section.how-it-works article h3 {
    padding: 1rem;
    letter-spacing: 0.3rem;
    font-size: 2em;
    font-weight: 300;
    color: grey;
}

main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    width: 100%;
    padding: 3rem 0;
}

main section.picture img {
    width: 18%;
    flex: 0 0 auto;
    padding: 1.5rem;
}

footer {
    background: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

footer section {
    display: flex;

}

footer section article {
    flex: 0 0 25%;
}

footer section article:nth-child(1) {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #FFF;
}

footer section article:nth-child(1) ul {
    list-style: none;
    margin: 0 1.5rem;
}

footer section article:nth-child(1) ul li {
    padding: 0.5rem;
}

footer section article:nth-child(2) {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    text-align: center;
}

footer section article:nth-child(2) img {
    display: block;
    margin: 0 auto;
    padding-bottom: 2rem;
}

footer section article:nth-child(3) {
    display: flex;
    flex-direction: column;
}

footer section article:nth-child(3) p {
    display: block;
    width: 100%;
    text-align: center;
}

footer section article:nth-child(3) input[type="text"] {
    width: 25rem;
    border: none;
    outline: none;
    height: 2rem;
    padding: 0.5rem;
    margin: 1rem 0;
}

footer section article:nth-child(3) input[type="submit"] {
    background: #FF5D3D;
    color: #FFF;
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
}

footer section:nth-child(2) {
    padding: 2rem 0;
}

