button, .button {
    display: inline-block;
    position: relative;
    outline: none;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    color: #333;
    border: 2px solid #000;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

.button + .button {
    margin-left: 1rem;
}

button:last-child, .button:last-child {
    margin-bottom: 0;
}