@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i,900,900i&amp;subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&amp;subset=cyrillic');
@import url('reset.css');
@import url('typography.css');
@import url('button.css');

@import url('navigation.css');
@import url('forms.css');
@import url('elements.css');


/*body {*/
    /*padding: 2rem;*/
    /*background: #EEE;*/
/*}*/

/*body > header:first-of-type {*/
    /*border-bottom: 2px solid #333;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
/*}*/

/*.site-title {*/
    /*font-size: 2rem;*/
    /*text-transform: uppercase;*/
    /*padding: 1rem 0;*/
/*}*/

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e8e8e8' fill-opacity='0.2'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
    max-width: 70rem;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.site-header p,
.site-footer p {
    margin: 0;
    padding: 0;
}

.site-header .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.site-header .site-title a {
    display: block;
    text-decoration: none;
    color: purple;
    font-size: 2.5rem;
}

.site-header .site-description {
    font-family: 'Open+Sans+Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

.site-footer {

}

.site-footer .wrapper {
    padding-bottom: 2rem;
}

.site-footer ul {
    margin: 0;
    padding: 0;
}

.site-footer li {
    list-style: none outside;
    display: block;
}

.site-footer .about {
    flex: 0 0 30%;
}

@media screen and (min-width: 800px) {
    .site-footer .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.site-footer .sitemap {

}

.site-footer .contacts {

}

.site > section header h2 {
    margin-top: 0;
}

.site > section header {
    padding-top: 2rem;
    text-align: center;
}

.site > section header:after {
    display: block;
    margin: 0 auto 2rem auto;
    width: 5rem;
    content: '';
    height: 0.15rem;
    background: #333;
}

section.call-to-action {

}

section.call-to-action .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

section.call-to-action .copy {
    flex: 1 0 100%;
    text-align: center;
}

section.call-to-action i.fas {
    display: none;
}

@media screen and (min-width: 800px) {
    section.call-to-action .copy {
        margin-right: 2rem;
        text-align: left;
        flex: 0 0 35rem;
    }

    section.call-to-action i.fas {
        display: block;
        font-size: 9rem;
    }
}

section.team {

}

section.newsletter {
    background: #693C7D;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: #FFF;
}

section.newsletter .button {
    background: #FFF;
}

section.testimonials {
    background-color: #FFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23e8e8e8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.3);
}



