html {
    font: 16px/1.5 Lato, sans-serif;
}

body {
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font: 1em/1.2 Cormorant, Serif;
    font-weight: bold;
}

h1 { font-size: 2.2rem }
h2 { font-size: 2rem }
h3 { font-size: 1.8rem }
h4 { font-size: 1.6rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.2rem }

ul li {
    list-style-type: square;
}

ul ul li {
    list-style-type: disc;
}

ul ul ul li {
    list-style-type: circle;
}