nav.main {
    display: flex;
}

nav.main ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav.main ul ul {
    display: none;
    position: absolute;
    width: 12rem;
}

nav.main > ul > li > ul {
    top: 100%;
    left: 0;
}

nav.main > ul > li > ul > li > ul{
    top: 0;
    left: inherit;
    right: 100%;
}

nav.main li {
    display: block;
    list-style: none outside;
    position: relative;
}

nav.main li:hover > ul {
    display: block;
}

nav.main > ul > li:not(:last-child) {
    padding-right: 0.5rem;
}

nav.main a {
    display: block;
    padding: 0.5rem 1rem;
    background: #333;
    color: #FFF;
    text-decoration: none;
    border-radius: 0.2rem;
}

nav.main li:hover > a,
nav.main a:hover {
    background: #060;
}

