@import url('reset.css');
@import url('typography.css');
@import url('navigation.css');

body {
    padding: 2rem;
    background: #EEE;
}

/*nav {*/
    /*display: flex;*/
/*}*/

/*nav ul ul {*/
    /*display: none;*/
    /*position: absolute;*/
    /*width: 12rem;*/
/*}*/

body > header {
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 0;
}