body {
    padding: 5rem;
    background: #EEE;
}

header a {
    text-decoration: none;
}

.site {
    max-width: 60rem;
    margin: 0 auto;
}

.site > header {
    border-bottom: 2px solid black;
}

.site-title {
    display: inline-block;
    font-weight: bold;
    padding: 0;
}

.site-title a {
    font-size: 4rem;
    color: #000;
}

header nav {
    float: right;
    margin-top: 2rem;
}

header nav ul {
    margin: 0;
    min-height: 2px;
}

header nav:after {
    display: block;
    content: '';
    clear: both;
}

header nav ul li {
    display: block;
    float: left;
    padding: 0 0 0 1rem;
}

header nav ul li a {
    display: block;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    color: #090;
    outline: none;
}

header nav ul li a:hover,
header nav ul li a:focus {
    background: #090;
    color: #FFF;
}

header nav ul li a:active {
    background: #000;
}