/*html {*/
/*    font: 16px/1.5 PT Sans, sans-serif;*/
/*}*/

html {
    font-size: 16px;
    font-family: PT Sans, sans-serif;
    line-height: 1.5;
}

ul li {
    list-style-type: square;
}

ul ul li {
    list-style-type: disc;
}

ul ul ul li {
    list-style-type: circle;
}