@import url('typography.css');

body {
	background: #EEE;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

body > header {
	border-bottom: 2px solid black;
}

header .site-title {
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	min-width: 20vw;
	padding: 1rem 2rem;
}

body > main {
	padding: 2rem;
}

body > footer {
	margin-top: auto;
	background: #666;
	color: #FFF;
	padding: 1rem 2rem;
}
