body {
    padding: 5rem;
    background: #EEE;
}

header a {
    text-decoration: none;
}

img {
    width: 15.5rem;
}

.site {
    max-width: 60rem;
    margin: 0 auto;
}

.site > header {
    border-bottom: 2px solid black;
    vertical-align: center;
}

.site-title {
    display: inline-block;
    padding-right: 3vw;
    font-weight: bold;
}

.site-title a {
    font-size: 4rem;
    color: #000;
}

img[class^=align] {
    /*width: 100%;*/
    height: auto;
    border: 0.4rem solid black;
    padding: 0.9rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
}

.align-right {
    margin: 0 0 1rem 1.5rem;
    float: right;
}

.align-left {
    margin: 0 1.5rem 1rem 0;
    float: left;
}

blockquote {
    max-width: 40%;
    float: right;
    margin: 0 0 1rem 1.5rem;
    color: #000;
    font-size: 1.2rem;
}

section img:after {
    display: block;
    content: '';
    clear: both;
}