@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

html {
    font: 16px/1.5 Helvetica, sans-serif;
}

p {
    width: 6rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
}

p:nth-child(1) {
    background: green;
}

p:nth-child(2) {
    background: orange;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a > i {
    margin-right: 0.1rem;
}

