@media screen and (min-width: 600px) {
    section:nth-child(1) span {
        color: green;
    }
}

@media screen and (min-height: 600px) {
    section:nth-child(2) span {
        color: green;
    }
}

@media screen and (min-device-aspect-ratio: 8/5) {
    section:nth-child(3) span {
        color: green;
    }
}