@media screen and (max-width: 1028px) and (min-width: 769px){
    section#main aside {
        flex: 1 0 94%;
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    section#main aside img {
        width: 45%;
        flex: 0 0 auto;
        height: 25rem;
        border-radius: 50%;
        box-shadow: 10px 10px 15px 0px rgb(197 198 209);
    }

    section#main aside #skills {
        flex: 1 0 100%;
    }

    section#main aside #languages {
        flex: 1 0 100%;
    }

    section#main aside #personal-info {
        flex: 0 0 45%;
    }

    section#main main {
        flex: 1 0 100%;
    }
}


@media screen and (max-width: 768px){
    section#main aside {
        flex: 1 0 89%;
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    section#main aside #skills {
        flex: 1 0 100%;
    }

    section#main aside #languages {
        flex: 1 0 100%;
    }

    section#main aside #personal-info {
        flex: 1 0 100%;
    }

    section#main main {
        flex: 1 0 100%;
    }

    #education .school > div {
        flex-direction: column;
    }

    #education .school > div .uni-img-container {
        flex: 1 0 100%;
    }
}

