@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    box-sizing: border-box;
    font: 14px/1.5 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(241, 241, 241);
    width: 100%;
    margin: 0 auto;
}

section#main {
    display: flex;
    flex-wrap: wrap;
}

section#main aside {
    flex: 0 0 22%;
}

section#main main {
    flex: 0 0 72%;
}

aside,
main #work,
main #education {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0, rgba(0, 0, 0, 0.19) 0 4px 20px 0;
    margin: 2rem;
}

aside {
    display: flex;
    flex-direction: column;
}

aside img {
    margin-bottom: 1.5rem;
    width: 100%;
}

hr.hr {
    width: 80%;
    border: 0;
    border-top: 1px solid #EEE;
    margin: 2rem auto;
}

section#main article {
    padding: 0 1.5rem;
    color: #757575;
}

section#main article h3,
section#main article h2 {
    font-weight: 300;
    font-size: 1.4em;
}

section#main article p {
    display: block;
    margin: 1.2rem 0;
    font-size: 1.2rem;
}

section#main article p i {
    padding-right: 0.5rem;
    font-size: 1.2rem;
    color: #009688;
}

.progress-bar {
    background: #F1F1F1;
    border-radius: 1rem;
    text-align: center;
}

.progress-bar .inner-progress-bar {
    border-radius: 1rem;
    background-color: #009688;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

main #work,
main #education {
    box-shadow: rgb(0 0 0 / 20%) 0 4px 10px 0, rgb(0 0 0 / 19%) 0 4px 20px 0;
}

main #work {
    padding: 1.5rem;
    margin-bottom: 3rem;
}

main #education {
    margin-top: 3rem;
}

#work h2,
#education h2 {
    color: #757575;
    font-weight: 300;
    font-size: 2em;
}

#work h2 i,
#education h2 i {
    margin: 1.2rem 0;
    padding: 0 0.5rem 0 1.5rem;
    color: #009688;
    font-size: 1.2em;
}

#work h4,
#education h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.2rem;
}

#work article {
    font-weight: bold;
}

#education .school {
    border: 1px solid rgb(0, 150, 136);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 10px 0, rgba(0, 0, 0, 0.19) 0 4px 20px 0;
    margin: 1.5rem;
}

#education .school h4 {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    margin: 1rem auto;
}

#education .school > div {
    display: flex;
}

#education .school > div .uni-img-container {
    flex: 0 0 15%;
    margin: 1rem;
}

#education .school > div .uni-img-container img {
    width: 100%;
}

footer {
    background: #009688;
    text-align: center;
    color: #FFF;
    padding: 1.5rem;
    font-size: 1.4rem;
}

footer p {
    margin: 0.5rem;
}

footer #social-icons i {
    padding: 0 0.5rem;
}