html {
    font: 16px/1.5 Helvetica, sans-serif;
}

body {

}

h1, h2, h3, h4, h5, h6 {
    font: 1em/1.2 Georgia, Serif;
    margin: 1em 0 0.5em 0;
    padding: 0;
}

h1 { font-size: 2.2rem }
h2 { font-size: 2rem }
h3 { font-size: 1.8rem }
h4 { font-size: 1.6rem }
h5 { font-size: 1.4rem }
h6 { font-size: 1.2rem }

p {
    margin: 0;
    padding-bottom: 1.5rem;
}

ol, ul, dl {
    margin: 0 0 1.5rem 0;
}

ol, ul {
    padding: 0;
    margin-left: 1.5rem;
}

ul li {list-style-type: square;}
ul ul li {list-style-type: disc;}
ul ul ul li {list-style-type: circle;}

hr {
    margin: 2rem 0;
}

blockquote {
    border-left: 4px solid #DDD;
    font-style: italic;
    margin: 0 0 1.5rem 2rem;
    padding: 1rem 2rem;
    position: relative;
}

blockquote:before {
    display: block;
    content: '"';
    font-size: 4rem;
    position: absolute;
    top: -1rem;
    left: 0.1rem;
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 1.5rem;
    border: 1px solid #CCC;
    border-spacing: 0;
    border-collapse: collapse;
}

table tr, table td {
    border: 1px solid #CCC;
    padding: 0.3rem 0.5rem;
}

table thead th {
    text-align: left;
    background: #CCC;
}

table tr:nth-child(odd) td {
    background: #F1F1F1;
}

table tr:hover td {
    background: #000;
    color: #FFF;
    border-color: transparent;
}

hr {
    margin: 2rem 0;
}