html {
    font: 16px/1.5 Helvetica, sans-serif;
}

body {
    padding: 5rem;
}

table {
    width: 100%;
    border: 1px solid #CCC;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #CCC;
    padding: 0.3rem 0 0.3rem 0.3rem;
}

table th {
    text-align: left;
    background: #CCC;
}

table tr:nth-child(odd) {
    background: #DDD;
}

table tbody tr:hover td {
    background: black;
    color: white;
    border-color: transparent;
}